body {
  background-color: tomato;
}

.statement {
  background-color: beige;
  border: 2px solid blue;
  margin: 0px;
}

.statement h5 {
  /* background-color: beige; */
  /* border: 2px solid blue; */
  margin: 0px;
}

.event-card {
  background-color: olive;
  border: 1px solid palegoldenrod;
}

.volunteer-card;
